body{
    background-image: url(kepek/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.hey{
    border: 10px;
}
.meow{
    padding: 30px;
    margin: 10px;
    color: rgb(173, 232, 244);
    font-size: larger;
}