body{
    color: white;
    background-image: url(kepek/bg_1.jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-repeat: repeat;
}

.hey{
    border: 10px;
}
.card{
    margin: 30px;
    background-image: url(kepek/charachterbackground.PNG);
    border: 10px solid transparent;
    border-image: url(kepek/characterborder.PNG);
    border-image-repeat: repeat ;
    border-image-slice: 30;
    padding: 20px;
}
.meow{
    padding: 30px;
    margin: 50px;
    color: rgb(4, 12, 29);
    text-align: center;
    font-weight: bold;
    font-style: oblique;

}
.card-img-top{
    margin: auto;
    margin-bottom: 20px;
}
.card-group{
    margin: 10px;
    margin: 10px;
    color: rgb(173, 232, 244);
    font-size: larger;
}
.mi{
    font-variant: normal;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
a :hover{
    color: #75975e;
    text-decoration: overline;
}
footer{
    text-align: center;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 20% auto 0 auto;
    border-radius: 10px;
    padding: 30px;
    color: black;
}
.app h1{
    font-size: 300%;
    font-weight: bolder;
    border-bottom: 1px solid grey;
    padding-bottom: 5%;
    text-align: center;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: larger;
    font-weight: bold;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: bold;
    width: 100%;
    border: 1px solid grey;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    transition: all 0.3s;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop
}
#next-btn{
    margin-top: 2%;
    background: #151854;
    color: white;
    font-weight: bold;
    width: 30%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto 0 auto;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: green;
    color: white;
}
.incorrect{
    background-color: red;
    color: white;
}
.lady{
    color: #b22cc4;
}
.kiwi{
    text-align: center;
}
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

}
.bio{
    text-align: center;
    margin: 40px;
}
.biokep{
    border: 10px solid transparent;
    border-image: url(kepek/characterborder.PNG);
    border-image-repeat: repeat ;
    border-image-slice: 30;
}
*{
    box-sizing: border-box;
}