body{
    background-image: url(kepek/yes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.hey{
    border: 10px;
}
.meow{
    padding: 30px;
    margin: 50px pink;
    background-color: mistyrose;


}